{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="d-flex justify-content-center mt-5">
        <div class = "login-box col-3">

            <div class="d-flex justify-content-center">
                <img src = "http://cherrytreemachines.co.uk/wp-content/uploads/2017/04/example-logo.jpg" class = "m-3" height="64" width="128">
            </div>
            {{ form_start(loginForm, {'action': path('app_login'), 'method': 'POST'}) }}
                <div class = "form-group">
                    {{ form_widget(loginForm) }}
                </div>
            {{ form_end(loginForm) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}">

                <button class="btn btn-primary btn-lg btn-block form-rounded mb-2 mt-4" type="submit" id="user_Submit">Prisijungti</button>

            <div class = "mb-3">
                <a href = "#">Pamiršai slaptažodį?</a>
            </div>

        </div>
    </div>


{% endblock %}