{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block body %}



    <div class="d-flex justify-content-md-center justify-content-sm-start mt-5">
        <div class = "col-md-3 col-sm-12 login-box">
            <div class="d-flex justify-content-center">
                <img src = "http://cherrytreemachines.co.uk/wp-content/uploads/2017/04/example-logo.jpg" class = "m-3" height="64" width="128">
            </div>
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(registerForm, {'action': path('Register'), 'method': 'POST'}) }}
            <div class = "form-group">
                <div class="role-checkbox justify-content-center">
                    <div id="checkboxGroup" class="text-center" >

                        <div class = "form-group">
                            <label for="role" class = "label-text"> Aš esu:</label>
                        </div>

                        <input type="checkbox" name="ROLE_VOLUNTEER" id="r1" />
                            <label class="checkbox-label" for="r1">
                                <p class = "label-text text-center mt-1">Savanoris</p>
                            </label>

                        <input type="checkbox" name="ROLE_ORGANISATION" id="r2" />
                            <label class="checkbox-label" for="r2">
                                <p class = "label-text text-center mt-1">Organizacija</p>
                            </label>
                    </div>
                </div>
            </div>
            <div id = "form-data">

                {{ form_widget(registerForm) }}

                <button class="btn btn-primary btn-lg btn-block form-rounded mb-4 mt-4" type="submit" id="user_Submit">Pateikti</button>
            </div>
        </div>
    </div>
    <div class = "back-button text-center m-1">
        <a href="#"><i class="fas fa-long-arrow-alt-left"></i> Grįžk atgal</a>
    </div>


    {{ form_end(registerForm) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('checkBox.js') }}" type="text/javascript"></script>
{% endblock %}